<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hubizict.bootmvc.mapper.UserMapper">

<select id="getUserList" resultType="hashMap">
    /* UserMapper.getUserList: 사용자 전체 조회 : by 김경식 */
    SELECT
        *
    FROM
        USER
</select>

<select id="getUser" parameterType="hashMap" resultType="hashMap">
    /* UserMapper.getUser: 사용자 조건 검색 : by 김경식 */
    SELECT
        *
    FROM
        USER
    <where>
        <if test='ID != null and ID neq ""'>
            AND ID = #{ID}
        </if>
    </where>
</select>

<update id="updateUser" parameterType="hashMap">
    /* UserMapper.updateUser : 사용자 정보 수정 : by 김경식 */
    UPDATE USER
    SET
        NAME = #{NAME} 
        , EMAIL = #{EMAIL}
    WHERE
        ID = #{ID}

</update>

<delete id="deleteUser" parameterType="string">
    /* UserMapper.deleteUser : 사용자 정보 삭제 : by 김경식 */
    DELETE FROM USER
    WHERE
        ID = #{ID}
</delete>

<insert id="insertUser" parameterType="hashMap">
    /* UserMapper.insertUser : 사용자 정보 추가 : by 김경식 */
    INSERT INTO USER(
        ID
        , NAME
        , EMAIL
    )
    VALUES (
        #{ID}
        , #{NAME}
        , #{EMAIL}
    )
</insert>

</mapper>