<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- 조회 feachSize -->
        <setting name="defaultFetchSize" value="10000" />
        <!-- 쿼리 조회 결과에 Null 발생시 HashMap에 담기지 않는 증상 해결 -->
        <setting name="callSettersOnNulls" value="true" />
    </settings>

    <typeAliases>
        <typeAlias type="java.util.HashMap" alias="hashMap" />
        <typeAlias type="java.lang.String" alias="string" />
    </typeAliases>
</configuration>